.userId{}

.userFirstname{}

.userLastname{}

.userAge{}

.userEmail{}

.userPassword{}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding-left: 0;
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 3px; /* Отступ слева */
}

