<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('jquery-3.6.0.min.js') }}">
</head>
<body>
<!--Добавление строки в таблицу-->
<script type="text/javascript">
    let user = {
        firstName : "testUser",
        lastName : "testUser",
        age : 11,
        email : "testUser@mail.ru",
        password : "testUser@mail.ru",
        roleList : [
            {
                id : 1,
                roleName: "ROLE_ADMIN"
            }
        ]
    };

    async function addRow(id){

        const response = await fetch('http://localhost:8080/api/users', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(user)
        });

        const myJs = await response.json();

        var tbody = document.getElementById('myTable').getElementsByTagName("TBODY")[0];
        var row = document.createElement("TR")
        var td1 = document.createElement("TD")
        td1.appendChild(document.createTextNode(myJs.id))
        var td2 = document.createElement("TD")
        td2.appendChild (document.createTextNode(myJs.firstName))
        row.appendChild(td1);
        row.appendChild(td2);
        tbody.appendChild(row);
    }
</script>

<!--<a href="javascript://" onclick="addRow('myTable');return false;">Добавить строку</a>-->

<input type="button" onclick="addRow('myTable');return false;"
       value="Add row" />

<table id="myTable" cellspacing="0" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody id ="data">

    </tbody>
</table>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <h4></h4>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>








<!--<div id="obj_id"></div>-->
<!--<div id="obj_firstName"></div>-->
<!--<input type="button" onclick="clickEvent();"-->
<!--       value="button" />-->
<!--<script>-->
<!--    function clickEvent() {-->
<!--        abc();-->
<!--    }-->
<!--</script>-->

<!--<script>-->
<!--    async function abc(){-->

<!--        let user = {-->
<!--            id : 3,-->
<!--            firstName : "Alina",-->
<!--            lastName : "Gingerteil",-->
<!--            age : 25,-->
<!--            email : "alina@mail.ru",-->
<!--            password : "alina@mail.ru",-->
<!--            roleList : [-->
<!--                {-->
<!--                    id : 1,-->
<!--                    roleName: "ROLE_ADMIN"-->
<!--                }-->
<!--            ]-->
<!--        };-->

<!--        const response = await fetch('http://localhost:8080/api/users', {-->
<!--            method: 'PUT',-->
<!--            headers: {-->
<!--                'Content-Type': 'application/json;charset=utf-8'-->
<!--            },-->
<!--            body: JSON.stringify(user)-->
<!--        });-->

<!--        const myJs = await response.json();-->

<!--        result = JSON.stringify(myJs);-->

<!--        alert(result);-->
<!--        document.getElementById('obj_id').innerHTML = myJs.id;-->
<!--        document.getElementById('obj_firstName').innerHTML = myJs.firstName;-->

<!--    }-->
<!--</script>-->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
<!--<script src='jquery-3.6.0.min.js' type="module"></script>-->
<!--<script src="{{ asset('jquery-3.6.0.min.js') }}"></script>-->
<!--Заполнение таблицы-->
<script>
    fetch('http://localhost:8080/api/users').then(
        res=>(
            res.json().then(
                data=> {
                    var temp = "";
                    var butEdit = "";

                    // butEdit="<button class='btn-danger' data-bs-id='1' data-bs-firstname='Alex' data-bs-lastname='Troy'>"+"edit"+"</button>";
                    butEdit="<button type='button' class='btn btn-primary' data-bs-toggle='modal' data-bs-target='#exampleModal' data-bs-whatever='@mdo'>"+"edit"+"</button>";


                    data.forEach((u) => {
                            temp+="<tr>";
                            temp+="<td>"+u.id+"</td>";
                            temp+="<td>"+u.firstName+"</td>";
                            temp+="<td>"+u.lastName+"</td>";
                            temp+="<td>"+u.age+"</td>";
                            temp+="<td>"+u.email+"</td>";
                            temp+="<td>"+"roles"+"</td>";
                            temp+="<td>"+"del"+"</td>";
                            // butEdit.setAttribute('data-bs-id', '1'),
                            // temp+="<td>"+"edit"+"</td>";
                            newEdit = "<button type='button' class='btn btn-danger' data-bs-toggle='modal' data-bs-target='#exampleModal' data-bs-whatever='@mdo'>"+"edit"+"</button>";
                            // newEdit.setAttribute('data-bs-id', '1');
                            newEdit['data-bs-id'] = u.id;

                            temp+="<td>"+newEdit+"</td>";
                            // temp+="<td>"+<button class="btn-delete" data-id="1" data-firstname="Alex" data-lastname="Troy">Test</button>+"</td>";
                            temp+="<tr>";
                        }
                    )

                    document.getElementById("data").innerHTML = temp;

                    // var els = document.querySelectorAll('.btn-danger');
                    // for (var i=0; i < els.length; i++) {
                    //     els[i].setAttribute("data-bs-id", i+1);
                    // }
                }
            )
        )
    )
</script>
<script>
    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
        var contH4 = button.getAttribute('data-bs-id')
        console.log(contH4)
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')
        var modalh4= exampleModal.querySelector('.modal-body h4')

        modalTitle.textContent = 'New message to ' + recipient
        modalBodyInput.value = recipient
        modalh4.textContent = contH4
    })
</script>

</body>
</html>