<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin_users_2.css}">
</head>
<body>
<header>
  <div id="header_user_auth_email" class="container-header">
    <!--        admin@mail.ru-->
  </div>
  <div class="container-header2">
    with roles:
  </div>
  <div class="container-header2">
    <ul id="header_user_auth_roleList" class="hr">
    </ul>
  </div>

  <form class="container-log" th:action="@{/logout}" method="post">
    <button class="button-logout">Logout</button>
  </form>

</header>
<!--Главный див -->
<div class="d-flex align-items-start">
  <!--Див белой колонки с кнопками -->
  <div class="mycontainer">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">


      <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
              type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</button>

    </div>
  </div>







  <!--Див с контентом колонок-->
  <div class="mycontainer2">

    <div class="tab-content" id="v-pills-tabContent">

      <!--Юзер контент-->
      <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <h3>User information-page</h3>
        <div class="mycontainer3">
          <div class="mycontainer4">
            <h5>About user</h5>
          </div>
          <div class="mycontainer5">
            <table>
              <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
              </tr>
              <tr>
                <td id="auth_user_id"></td>
                <td id="auth_user_Firstname"></td>
                <td id="auth_user_Lastname">admin</td>
                <td id="auth_user_Age">1</td>
                <td id="auth_user_Email">admin@mail.ru</td>
                <td>
                  <ul id="auth_user_roles" class="hr">
                  </ul>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/user.js}"></script>
</body>
</html>